{% extends 'base.twig' %}

{% block content %}
<h1>La liste des articles du sous-thématique : {{ sous_theme }}</h1>

<ol type="1">
{% for a in articles_sous_themes %}
  <li id="li2"><a class='test external' href="/appli_covid19/articles/{{ a.article.id_article }}" >{{ a.article.title }}</a></li>
{% endfor %}
</ol>
{% endblock %}
