{% load extras %}
<!DOCTYPE html>
<html>
<head> 
  <title>Les articles dans la base de donnée</title>

</head>

<body> 
<h1>Les articles dans la base de donnée</h1>

  <p>Il y a en tout {{ nb_articles }} d'articles dans la base de donnée</p>
  <input type="button" onclick="window.location.href = '/appli_covid19/articles2';" value="Recherche précise"/>
  <p>Retourner à la page d'<a href="/appli_covid19">acceuil</a></p>
  
<ol type="1">
    {% for p in liste_articles %}
      <li><a href="/appli_covid19/articles/{{ p.id_article }}">{{ p.title }}</a></li>
    {% endfor %}
</ol>

</body>
</html>