<!DOCTYPE html>
<html>

<head> 
    <title>Histogramme d'articles publiés par date, semaine, et mois.</title>
</head>

<body>

<h1>Histogramme d'articles publiés par date, semaine, et mois.</h1>

<p>Retourner à la page d'<a href="/appli_covid19">acceuil</a></p>

<ol type="1">
<li><a href='/appli_covid19/histogram_annee'>Par année</a></li>
<li><a href='/appli_covid19/histogram_mois'>Par mois</a></li>
<li><a href='/appli_covid19/histogram_semaine'>Par semaine</a></li>
<li><a href='/appli_covid19/histogram_date'>Par date</a></li>
</ol>

</body>
</html>