<!DOCTYPE html>
<html>

<head> 
    <title>La liste des journaux</title>
</head>
<body>

<h1>La liste des journaux</h1>

<p> Il y a en tout {{ nb_total_journaux }} journaux </p>
<p>Retourner à la page d'<a href="/appli_covid19">acceuil</a></p>
<input type="button" onclick="window.location.href = '/appli_covid19/journaux3';" value="Recherche précise"/>

<ol type="1">
    {% for j in journaux %}
      {% if j.name != 'NULL' %}
      <li><a href="/appli_covid19/journaux/{{ j.name }}">{{ j.name }}</a></li>
      {% endif %}
    {% endfor %}
</ol>

</body>
</html>