<!DOCTYPE html>
<html>
<head> 
    <title>Base de données covid19</title>
</head>
 <body>
   <div class="Base de données">
   <h1>Base de données covid19</h1>
   <p>Vous pouvez choisir une des requêtes suivantes :</p>

   <div class="centre">
   <p> </p>
   <p>
  <input type="button" onclick="window.location.href = '/appli_covid19/articles';" value="Liste des articles"/> 
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/journaux';" value="Liste des journaux"/> 
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/affiliations';" value="Liste des affiliations"/>
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/theme';" value="Liste des thématiques"/>
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/histogram';" value="Histogramme d'articles"/>
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/affiliations2';" value="Nombre de publications par affiliation"/>
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/theme';" value="Liste d'articles par thématique et sous-thématique"/>
   <br />
   </p>
   <p>
   <input type="button" onclick="window.location.href = '/appli_covid19/journaux2';" value="Liste de journaux par nombre et type de publications"/> 
   <br />
   </p>
   </div>
  </form>

<style>
  body {
  background: white;
  font-family: Montserrat, "sans-serif";
  display: flex;
  justify-content: center;
  color: #303030;
  }

  .Base de données {
  width: 700px;
  border: 1px solid;
  border-radius: 8px;
  padding: 0 50px 0 50px;
  background: white;
  }

  .Base de données > h1 {
  font-weight: 500;
  }

  .Base de données > p {
  font-weight: 300;
  }

  .centre{
    text-align: center;
  }

  .container>.button:not(:last-child) {
  margin-right: 10px;
  }

  form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 83px;
  margin-top: 25px;
  }

  form div > label {
  margin-bottom: 7px;
  font-weight: 600;
  }


  form div > textarea {
  height: 195px;
  padding: 15px 0px 0px 10px;
  }

  form div > input::placeholder, form div > textarea::placeholder {
  color: white;
  }

  form div > select:invalid {
  color: white;
  }

  form div > select option {
  background: white;
  color: #303030;
  }

  form div:last-child {
  align-items:center;
  margin-top: 20px;
  }