{% extends 'base.twig' %}

{% block content %}
<h1>La liste des sous-thématiques du thème {{ theme }}</h1>
  
<ol type="1">
    {% for s in sous_themes %}
      {% if s.name != 'NULL' %}
      <li id="li2"><a class='test external' href="/appli_covid19/sous_theme/{{ s.name }}">{{ s.name }}</a></li>
      {% endif %}
    {% endfor %}
</ol>
{% endblock %}
