<!DOCTYPE html>
<html>

<head> 
    <title>La liste des thématiques</title>
</head>

<body>

<h1>La liste des thématiques</h1>
  
<ol type="1">
  {% for x in themes %}
    {% if x.name != 'NULL' %}
    <li><a href="{{ x.name }}">{{ x.name }}</a></li>
    {% endif %}
  {% endfor %}
</ol>
<p>Retourner à la page d'<a href="/appli_covid19">acceuil</a></p>
</body>
</html>

