<!-- fichier articles.tmpl --> 
<html>
<head> 
  <title>La liste des articles par thématique et sous-thématique </title>
  <style>   
    table.mon_tableau  {
        border-collapse: collapse;
    }
    table.mon_tableau td {
       border: 1px solid #5555;
       padding: 0.3em;
       font-family: "Sans-serif";
       font-size: 12px;
    }
    table.mon_tableau tr:nth-child(even)  {background: #EEE}
    table.mon_tableau tr:nth-child(odd) {background: #FFF}
  </style>
</head>

<body> 
<h1>La liste des articles par thématique et sous-thématique</h1>
<table class="mon_tableau">
  {% for a in articles %}
    <tr>
      <td>{{ a.id }} </td>
      <td>{{ a.title }} </td>
      {% for AT in article_theme %}
      {% if AT.article == a.id %}
        {% id_sous_teme= AT.sous_theme % }
        {% for st in sous_themes %}
            {% if st.id == id_sous_theme %}
            <td>{{ st.name }} </td>
            {% endif %}
        {% endfor %}

      {% endif %}
      {% endfor %}
    </tr>
   {% endfor %}

  </table>

</body>
</html>
