<!-- fichier themes.tmpl --> 
<html>
<head> 
  <title>La liste des thématiques </title>
  <style>   
    table.mon_tableau  {
        border-collapse: collapse;
    }
    table.mon_tableau td {
       border: 1px solid #5555;
       padding: 0.3em;
       font-family: "Sans-serif";
       font-size: 12px;
    }
    table.mon_tableau tr:nth-child(even)  {background: #EEE}
    table.mon_tableau tr:nth-child(odd) {background: #FFF}
  </style>
</head>

<body> 
<h1>La liste des thématiques</h1>
<table class="mon_tableau">
  {% for t in themes %}
  {% if t.name != 'NULL'%}
    <tr>
      <td>{{ t.id }} </td>
      <td>{{ t.name }} </td>
    </tr>
    {% endif %}
   {% endfor %}
  </table>

</body>
</html>
